<nav class="navbar-default navbar-static-side" role="navigation" style="max-height: 100%;overflow-y: auto;overflow-x: hidden;position: fixed;">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{main.userName}}</strong>
                            </span>
                            <span class="text-muted text-xs block">菜单<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="view1">老API</a></li>
                        <li><a ui-sref="view2">新API</a></li>
                        <li><a href="" ng-click="pageFunc.logout()">登出</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="" ng-repeat="apiItem in pageData.apiData track by $index">
                <a href="">
                    <i class="fa fa-yelp"></i>
                    <span class="nav-label">{{apiItem.module}}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-repeat="apiParam in apiItem.value track by $index">
                    <li class="">
                        <a href="">
                            <i class="fa fa-yelp"></i>
                            <span class="nav-label">{{apiParam.version}}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li ng-repeat="apiParamItem in apiParam.value track by $index" ng-if="apiItem.module=='admin'||apiItem.module=='private'">
                                <a href="" style="padding-left: 35px;">
                                    <i class="fa fa-yelp"></i>
                                    <span class="nav-label">{{apiParamItem.port}}</span>
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level collapse" ng-repeat="item in apiParamItem.value track by $index">
                                    <li class="" style="margin-bottom: 0">
                                        <a ui-sref="view2.private({module:'{{apiItem.module}}',version:'{{apiParam.version}}',port:'{{apiParamItem.port}}',item:'{{item}}'})">{{item}}</a>
                                        </li>
                                    </ul>
                            </li>
                            <li ng-repeat="apiParamItem in apiParam.value track by $index" ng-if="apiItem.module!='admin'&&apiItem.module!='private'">
                                <a ui-sref="view2.views({module:'{{apiItem.module}}',version:'{{apiParam.version}}',port:'{{apiParamItem}}'})">{{apiParamItem}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
